* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: absolute;
  left: 0px;
  /* top: 56px; */
  width: 250px;
  height: 100vh;
  background: #042331;
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
}
.sidebar ul a i {
  margin-right: 16px;
}
#check {
  display: none;
}
label #sidenavbtn,
label #sidenavcancel {
  position: absolute;
  background: #22566e;
  border-radius: 3px;
  cursor: pointer;
}

label #sidenavbtn {
  left: 250px;
  top: 70px;
  font-size: 30px;
  color: #01080c;
  padding: 6px 12px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}

label #sidenavcancel {
  z-index: 1111;
  left: 195px;
  top: 110px;
  font-size: 30px;
  color: black;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: -250px;

}


#check:checked ~ label #sidenavbtn {
  left: 40px;
  opacity: 1;
  pointer-events: auto;
}

#check:checked ~ label #sidenavcancel {
  left: -195px;
}

#check:checked ~ section {
  margin-left: 0px;
}
section {
  background: url("../../images/grocery.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all 0.5s;
  margin-left: -250px;
}
