img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./images/grocery.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.header-image{
  height: 25px;
  width:25px;
}

#addList{
  margin-left: 200px;
}
#eventscard{
  margin-bottom: 20px;
}
#cardadmin-img-top{
    height: 200px;
}
#itemAdminRight{
    margin-bottom: 50px;
}
#cardadminclass{ 
    /* height: 370px; */
     width: 230px; 
 }
 #cardadmin-text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    /* white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* white-space: initial; */
}

#cardadmin-title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    /* white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;  */
    /* white-space: initial; */
}
span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}

#cardadminclass {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
#cardadminclass:hover {
  top: -10px;
}