img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./images/grocery.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.header-image{
  height: 25px;
  width:25px;
}

#addList{
  margin-left: 200px;
}
#eventscard{
  margin-bottom: 20px;
}
#cardadmin-img-top{
    height: 200px;
}
#itemAdminRight{
    margin-bottom: 50px;
}
#cardadminclass{ 
    /* height: 370px; */
     width: 230px; 
 }
 #cardadmin-text{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
#cardadmin-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border: 1;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
span.active {
  background-color: #0099FF;
  color: white;
  border: 1px solid #0099FF;
}

#cardadminclass {
  position: relative;
  top: 0;
  /* transition: top ease 0.5s; */
  transition: transform 100ms ease-in;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
#cardadminclass:hover {
  /* top: -10px; */
  transform: scale(1.07);
}

#rmbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

#buybutton {
  margin-right: 20px;
}

#deletebtnlist {
  margin-left: 100px;
  margin-bottom: 10px;
  font-size: 2rem;
}